VITE_CLERK_PUBLISHABLE_KEY=
VITE_ENV_APPNAME=Sahabat Muslim
VITE_API_HADIST=https://api.hadith.gading.dev
VITE_API_DUA=https://api.dua.example.com
VITE_CITATION_URL=https://example.edu
CLERK_SECRET_KEY=
ANTHROPIC_API_KEY=
CONTENTFUL_SPACE_ID=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_ENVIRONMENT=master
